body {
	font-family: 'Nanum Gothic';
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* head */

#head {
	margin-left: 2%;
}

#head h1 a {
	text-decoration: none;
	color: #2e4053; 
	font-size: 90%;
}

#head .menu {
	display: inline;
	margin-right: 1%;
	position: static;
	color: black;
	font-size: 110%;
	font-weight: lighter;
	cursor: pointer;
}

#head .menu:hover {
	color: #aeb6bf;
	position: relative;
	top: 1px;
}

/* contents */

#contents {
	text-align: center;
	border-radius: 40px 40px;
	box-shadow: 0px 0px 20px #000;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 9%;
	margin-bottom: 4%;
	margin-left: 2%;
	margin-right: 2%;
}

#contents #main .title {
	font-size: 1.4em;
}

#contents #main .ip {
	font-size: 2.2em;
	text-decoration: none;
	color: #424949; 
	cursor: pointer;
	word-break: break-all;
}

#contents #main .ip:hover {
	position: relative;
	top: 1px;
}

#contents #main .isp {
	font-size: 1.4em;
}

#contents #info, #contents #notice {
	text-align: left;
	margin: 2% 2% 2% 2%;
}

#errors {
	font-size: 150%;
	color: #2e4053;
}

/* footer */

#footer {
	position: fixed;
   	bottom: 2%;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #585858;
	cursor: default;
}